@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

:root {
  --cl-purple: hsl(259, 100%, 65%);
  --cl-light-red: hsl(0, 100%, 67%);
  --cl-white: hsl(0, 0%, 100%);
  --cl-off-white: hsl(0, 0%, 94%);
  --cl-light-grey: hsl(0, 0%, 86%);
  --cl-smokey-grey: hsl(0, 1%, 44%);
  --cl-off-black: hsl(0, 0%, 8%);

  --fs-date: 3cqi;
  --fs-input: 5cqi;
  --fs-results: clamp(4rem, 16cqi, 5rem);
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background-color: var(--cl-light-grey);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 60%;
  height: 70%;
  padding: 3rem;
  background-color: var(--cl-white);
  border-radius: 20px 20px 180px 20px;
  container-type: inline-size;
}

.input_wrapper {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row: 1fr 1fr;
  gap: 1rem 2rem;
  input {
    min-width: 0;
    height: 4rem;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-input);
    border: none;
    border: 1px solid var(--cl-light-grey);
    border-radius: 10px;
  }
}

input::placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: var(--fs-input);
  color: var(--cl-smokey-grey);
}

.date_text {
  font-size: var(--fs-date);
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--cl-smokey-grey);
}

.division {
  position: relative;
  display: flex;
  justify-content: end;
  .btn {
    z-index: 1;
  }
}

.division::before {
  content: '';
  position: absolute;
  background-color: var(--cl-light-grey);
  width: 100%;
  height: 2px;
  top: 50%;
  translate: 0 -50%;
}

.btn {
  background-color: var(--cl-purple);
  border-radius: 100vw;
  padding: 1.5rem;
}

.results_wrapper > * {
  border: 1px solid red;
  height: fit-content;
  font-size: var(--fs-results);
  font-weight: 800;
  span {
    color: var(--cl-purple);
    letter-spacing: 10px;
  }
}

/* Footer */

.attribution {
  font-size: 11px;
  text-align: center;
  height: 5%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
