@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cl-primary-tomato: hsl(4, 100%, 67%);
  --cl-neutral-dark-slate-grey: hsl(234, 29%, 20%);
  --cl-neutral-charcoal-grey: hsl(235, 18%, 26%);
  --cl-neutral-grey: hsl(231, 7%, 60%);
  --cl-neutral-white: hsl(0, 0%, 100%);
  --cl-error-tomato: hsl(4, 88%, 94%);

  --fs-primary: clamp(3rem, 4vw, 4rem);
  --fs-neutral: clamp(1rem, 1.5vw, 1.25rem);
  --fs-neutral-sm: clamp(0.8rem, 1vw, 1rem);
}

html {
  font-size: 16px;
}

img,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background-color: var(--cl-neutral-charcoal-grey);
}

.main_wrapper {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content_wrapper {
  border: 1px solid red;
  width: 70cqi;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1.5rem;
  padding: 2rem;
  background-color: var(--cl-neutral-white);
  border-radius: 30px;
  scale: 0.9;
  opacity: 0.3;
  animation: zoom 500ms ease-in-out forwards;
}

@keyframes zoom {
  from {
    scale: 0.9;
    opacity: 0.3;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}

.form_wrapper {
  border: 1px solid red;
  padding: 2rem;
  color: var(--cl-neutral-dark-slate-grey);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  h1 {
    border: 1px solid red;
    font-size: var(--fs-primary);
  }
  h3 {
    font-size: var(--fs-neutral);
    font-weight: 400;
  }
  .list_wrapper {
    border: 1px solid red;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    gap: 1rem;
    p {
      border: 1px solid red;
      font-size: var(--fs-neutral);
    }
  }
}

.input-btn_wrapper {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  .email_message {
    border: 1px solid red;
    padding-block: 0.5rem;
    display: flex;
    justify-content: space-between;
    font-size: var(--fs-neutral-sm);
    font-weight: 700;
    .error_message {
      color: var(--cl-primary-tomato);
    }
  }
  input,
  button {
    width: 100%;
    height: 3.5rem;
    border: none;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: var(--fs-neutral-sm);
    cursor: pointer;
  }
  input {
    border: 1px solid var(--cl-neutral-grey);
    margin-bottom: 1.5rem;
    padding-inline: 1.5rem;
    color: var(--cl-neutral-grey);
  }
  button {
    text-align: center;
    font-weight: 700;
    color: var(--cl-neutral-white);
    background-color: var(--cl-neutral-dark-slate-grey);
  }
}

button:hover {
  background-image: linear-gradient(
    90deg,
    hsl(350, 100%, 67%),
    hsl(11, 100%, 63%)
  );
  box-shadow: 0 10px 25px hsla(350, 100%, 67%, 0.438);
}

/* Modal */

.modal_wrapper {
  border: 1px solid red;
  width: 30rem;
  height: 32rem;
  padding: 1rem 3rem;
  background-color: var(--cl-neutral-white);
  border-radius: 30px;
  color: var(--cl-neutral-dark-slate-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
  opacity: 0;
  animation: slide-down 500ms ease-in-out forwards;
  button {
    width: 100%;
    height: 3.5rem;
    border: none;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    color: var(--cl-neutral-white);
    background-color: var(--cl-neutral-dark-slate-grey);
  }
}

.modal_icon {
  width: 3.5rem;
  aspect-ratio: 1/1;
}

.modal_content {
  h1 {
    font-size: 3.5rem;
    line-height: 1;
    margin-bottom: 1.5rem;
  }
  p {
    font-size: 1rem;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-15%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* Footer */

.attribution {
  border: 1px solid red;
  height: 5%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  /* text-align: center; */
  p {
    color: var(--cl-neutral-white);
  }
}
.attribution a {
  color: rgb(174, 191, 250);
}

/* Media */

@media screen and (width < 75em) {
  .content_wrapper {
    width: 80%;
  }
}

@media screen and (width < 62.5em) {
  .content_wrapper {
    width: 100%;
    height: 80%;
    border-radius: 0;
  }

  .image_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal_wrapper {
    width: 29rem;
    height: 30rem;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
  }

  .modal_icon {
    width: 3.5rem;
    aspect-ratio: 1/1;
  }

  .modal_content {
    h1 {
      font-size: 3rem;
      line-height: 1;
      margin-bottom: 1.5rem;
    }
  }
}

@media screen and (width < 53em) {
  .content_wrapper {
    width: 23.44rem;
    height: 100%;
    padding: 0;
    gap: 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .form_wrapper {
    padding: 1rem;
  }

  .image_wrapper {
    grid-row: 1/2;
    gap: 0;
    height: 18.75rem;
    background-image: url(assets/images/illustration-sign-up-mobile.svg);
    background-size: auto;
    background-repeat: no-repeat;
    .desktop_image {
      display: none;
    }
  }
  .attribution {
    p {
      color: var(--cl-neutral-dark-slate-grey);
    }
  }
}

@media screen and (width < 30em) {
  .modal_wrapper {
    width: 100%;
    height: 100%;
    border-radius: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 1fr 15%;
  }

  .modal_icon {
    width: 3.5rem;
    align-self: flex-end;
    aspect-ratio: 1/1;
  }

  .modal_content {
    h1 {
      font-size: 3rem;
      line-height: 1;
      margin-bottom: 1.5rem;
    }
  }
}

@media screen and (width < 24em) {
  .content_wrapper {
    width: 100%;
  }
}

/* Utility Class */

.hidden {
  display: none;
}
