@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cl-primary-red: hsl(0, 100%, 74%);
  --cl-primary-green: hsl(154, 59%, 51%);
  --cl-accent-blue: hsl(248, 32%, 49%);
  --cl-neutral-dark-blue: hsl(249, 10%, 26%);
  --cl-neutrak-grayish-blue: hsl(246, 25%, 77%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
