@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cl-primary-red: hsl(0, 100%, 74%);
  --cl-primary-green: hsl(154, 59%, 51%);
  --cl-accent-blue: hsl(248, 32%, 49%);
  --cl-neutral-dark-blue: hsl(249, 10%, 26%);
  --cl-neutral-grayish-blue: hsl(246, 25%, 77%);

  --fs-primary: clamp(2.5rem, 5cqi, 3.5rem);
  --fs-neutral: clamp(1rem, 1.5cqi, 1.2rem);
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--cl-primary-red);
  background-image: url(images/bg-intro-desktop.png);
  background-size: cover;
  background-repeat: no-repeat;
  container: body-container / inline-size;
}

main {
  border: 1px solid red;
  margin: 0 auto;
  width: 80vw;
  height: 95vh;
  height: 95svh;
  display: flex;
  align-items: center;
  gap: 5%;
  container: main-container / inline-size;
}

.hero-wrapper {
  border: 1px solid red;
  width: 50%;
  * {
    color: #f3f3f3;
  }
}

h1 {
  font-size: var(--fs-primary);
  line-height: 1.2;
  text-wrap: balance;
  margin-bottom: 3cqh;
}

p {
  font-size: var(--fs-neutral);
  line-height: 1.8;
}

.form-wrapper {
  border: 1px solid red;
  min-width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .btn-1 {
    --shadow: hsla(249, 10%, 26%, 0.205);
    width: 100%;
    background: none;
    border: none;
    background-color: var(--cl-accent-blue);
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-neutral);
    color: #f3f3f3;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 10px 0 var(--shadow);
    span {
      font-weight: 600;
    }
  }
}

.input-wrapper {
  border: 1px solid red;
  width: 100%;
  height: 60%;
  padding: 3rem;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5%;
  input {
    --cl-border: hsla(249, 10%, 26%, 0.445);
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-neutral);
    font-weight: 600;
    color: var(--cl-neutral-dark-blue);
    border: 1px solid var(--cl-border);
    border-radius: 5px;
    padding: 1rem 2rem;
  }
  input::placeholder {
    --cl-font: hsla(249, 10%, 26%, 0.603);
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-neutral);
    font-weight: 600;
    color: var(--cl-font);
  }
  .btn-2 {
    --cl-border: hsl(154, 61%, 41%);
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-neutral);
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--cl-primary-green);
    color: #f3f3f3;
    border: none;
    border-bottom: 3px solid hsl(154, 57%, 45%);
    outline: 1px solid var(--cl-border);
    border-radius: 5px;
    padding: 1rem 2rem;
  }
  p {
    margin-inline: 0;
    text-align: center;
    font-size: clamp(0.5rem, 1cqi, 1rem);
    font-weight: 500;
    color: var(--cl-neutral-grayish-blue);
    span {
      color: var(--cl-primary-red);
      font-weight: 700;
    }
  }
}

.attribution {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  height: 5svh;
  font-size: clamp(0.5rem, 1cqi, 1rem);
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@container body-container (max-width: 900px) {
  main {
    width: 90vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 0;
  }
}
/* 
@container main-container (max-width: 900px) {
  .hero-wrapper {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-wrapper {
    width: 100%;
    justify-content: space-between;
    .btn-1 {
      height: 15%;
      margin-bottom: 0;
      padding: 0 25%;
    }
  }

  .input-wrapper {
    height: 80%;
  }
}
 */
