@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cl-primary-blue: hsl(223, 87%, 63%);
  --cl-secondary-pale-blue: hsl(223, 100%, 88%);
  --cl-secondary-light-red: hsl(354, 100%, 66%);
  --cl-neutral-gray: hsl(0, 0%, 59%);
  --cl-neutral-dark-blue: hsl(209, 33%, 12%);
}

html {
  font-size: 20px;
}

body {
  border: 1px solid red;
  /* width: 100vw; */
  font-family: 'Libre Franklin', sans-serif;
}

.wrapper {
  width: 100%;
  height: 100%;
}

header {
  border: 1px solid red;
  text-align: center;
  padding-block: 2rem;
}

.title {
  border: 1px solid red;
  --mg-bottom: 1rem;
  text-align: center;
  h1 {
    font-size: 2rem;
    font-weight: 300;
    color: var(--cl-neutral-gray);
    margin-bottom: var(--mg-bottom);
  }
  span {
    font-weight: 700;
    color: #000;
  }
  h2 {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: var(--mg-bottom);
  }
}

.info-btn {
  border: 1px solid red;
  margin-inline: auto;
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  input {
    width: 67%;
    border: none;
    border: 2px solid var(--cl-secondary-pale-blue);
    border-radius: 100vw;
    padding: 1rem 1.5rem;
  }
  button {
    background-color: var(--cl-primary-blue);
    width: 30%;
    padding: 1rem;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    color: #f3f3f3;
    border: transparent;
    border-radius: 100vw;
    box-shadow: 0 10px 20px var(--cl-secondary-pale-blue);
  }
}
input::placeholder {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 0.8rem;
  color: var(--cl-secondary-pale-blue);
}

.image {
  border: 1px solid red;
  margin-inline: auto;
  width: 50%;
  height: 40%;
  margin-bottom: 1.5rem;
  img {
    width: 100%;
    height: auto;
  }
}

.medias {
  border: 1px solid red;
  width: 20%;
  margin-inline: auto;
  text-align: center;
  .media-icons {
    border: 1px solid red;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
  }
  .media-icons > i {
    font-size: 1.2rem;
    color: var(--cl-primary-blue);
    padding: 0.3rem;
    border: 1px solid var(--cl-neutral-gray);
    border-radius: 100vw;
  }
  p {
    font-size: 0.8rem;
    color: var(--cl-neutral-gray);
  }
}

.attribution {
  border: 1px solid red;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
