@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cl-primary-blue: hsl(223, 87%, 63%);
  --cl-secondary-pale-blue: hsl(223, 100%, 88%);
  --cl-secondary-light-red: hsl(354, 100%, 66%);
  --cl-neutral-gray: hsl(0, 0%, 59%);
  --cl-neutral-dark-blue: hsl(209, 33%, 12%);
}

html {
  font-size: 20px;
}

body {
  /* width: 100vw; */
  height: 100vh;
  height: 100svh;
  font-family: 'Libre Franklin', sans-serif;
}

.wrapper {
  width: min(1000px, 50vw);
  height: 100vh;
  height: 100svh;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  /* display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 2fr 0.5fr 0.5fr;
  place-items: center; */
  container-type: inline-size;
}

.hero {
  border: 1px solid red;
  --mg-bottom: 1rem;
  /* width: 31.5rem; */
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  .logo {
    text-align: center;
    /* padding-block: 1.5rem; */
    img {
      width: 76px;
      height: auto;
    }
  }
  .hero-text {
    h1 {
      text-align: center;
      font-size: 2rem;
      font-weight: 300;
      color: var(--cl-neutral-gray);
      margin-bottom: var(--mg-bottom);
    }
    span {
      font-weight: 700;
      color: #000;
    }
    h2 {
      text-align: center;
      font-size: 1rem;
      font-weight: 400;
      /* margin-bottom: var(--mg-bottom); */
    }
  }
}

.info-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  button {
    background-color: var(--cl-primary-blue);
    width: 30%;
    padding: 0.8rem 1rem;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    color: #f3f3f3;
    border: transparent;
    border-radius: 100vw;
    box-shadow: 0 10px 20px var(--cl-secondary-pale-blue);
  }
}

.input-wrapper {
  position: relative;
  width: 67%;
  input {
    width: 100%;
    font-family: 'Libre Franklin', sans-serif;
    border: none;
    border: 2px solid var(--cl-secondary-pale-blue);
    border-radius: 100vw;
    padding: 0.8rem 1rem;
  }
}

input::placeholder {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 0.8rem;
  color: var(--cl-secondary-pale-blue);
}

.error-message {
  position: absolute;
  bottom: -70%;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 0.7rem;
  color: var(--cl-secondary-light-red);
}

.image {
  border: 1px solid red;
  width: 100%;
  /* margin-bottom: 1.5rem; */
  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.medias {
  border: 1px solid red;
  padding-block: 0.5rem;
  text-align: center;
  .media-icons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
  }
  .media-icons > i {
    font-size: 1rem;
    color: var(--cl-primary-blue);
    padding: 0.3rem;
    border: 1px solid var(--cl-neutral-gray);
    border-radius: 100vw;
  }
  p {
    font-size: 0.6rem;
    color: var(--cl-neutral-gray);
  }
}

footer {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding-block: 0.5rem;
  .attribution {
    font-size: 0.5rem;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}

/* Utility Classes */

.hidden {
  display: none;
}

.animation {
  animation: validation 400ms ease-in-out;
}

@keyframes validation {
  0%,
  100% {
    border: 2px solid var(--cl-secondary-pale-blue);
  }

  50% {
    border: 2px solid green;
    outline: 2px solid green;
  }
}

/* Containers */
/* 
@container (width < 850px) {
  .hero,
  .image {
    width: 70cqi;
  }
}

@media screen and (width < 650px) {
  html {
    font-size: 14px;
  }

  .wrapper {
    justify-content: space-evenly;
  }

  .hero,
  .image {
    min-width: 80cqi;
  }

  .hero > * {
    padding-block: 0.5rem;
  }

  .info-btn {
    flex-direction: column;
    text-align: center;
    gap: 3rem;
    .input-wrapper,
    button {
      width: 100%;
    }
    input {
      padding-inline: 2rem;
    }
  }

  .medias {
    .media-icons > i {
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
    }
  }
}
 */
