@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --cl-white: hsl(0, 0%, 100%);
  --cl-pink: hsl(275, 100%, 97%);
  --cl-light-purple: hsl(292, 16%, 49%);
  --cl-bright-purple: hsl(281, 83%, 54%);
  --cl-dark-purple: hsl(292, 42%, 14%);
}

body {
  width: 100vw;
  min-height: 100vh;
  min-height: 100svh;
  position: relative;
  font-family: 'Work Sans', sans-serif;
  background-color: var(--cl-pink);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  justify-content: space-between;
  align-items: center;
  overflow-x: clip;
}

.background {
  width: 100%;
  height: 20rem;
  background-image: url(assets/images/background-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: absolute;
  top: 0;
  @media screen and (width < 23.44em) {
    height: 14.5rem;
    background-image: url(assets/images/background-pattern-mobile.svg);
  }
}

.wrapper {
  --cl-shadow: hsla(293, 16%, 49%, 0.233);

  width: min(38rem, calc(100% - 3.5rem));
  padding: 1rem 2.5rem;
  margin-top: calc(20rem - 9.56rem);
  border-radius: 15px;
  background-color: var(--cl-white);
  box-shadow: 0 15px 50px 20px var(--cl-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  @media screen and (width < 23.44em) {
    margin-top: calc(14.5rem - 6rem);
    padding: 0.5rem 2rem;
    border-radius: 10px;
  }
}

.title {
  width: 100%;
  padding-block: 2rem;
  display: flex;
  gap: 5%;
  & h1 {
    font-size: clamp(2rem, 1.647887323943662rem + 1.5023474178403755vw, 3rem);
    color: var(--cl-dark-purple);
  }
  & .star-icon {
    width: clamp(1.5rem, 1.323943661971831rem + 0.7511737089201878vw, 2rem);
  }
  @media screen and (width < 23.44em) {
    padding-block: 1.5rem;
  }
}

.questions {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & > :not(:last-child) {
    border-bottom: 1px solid var(--cl-pink);
  }
  & .accordion:not(:first-child) {
    margin-top: 1.5rem;
  }
}

.icons {
  width: 1.5rem;
  cursor: pointer;
  &:focus-visible {
    border: 2px solid black;
    border-radius: 10px;
  }
}

h2 {
  font-size: clamp(
    1rem,
    0.9471830985915494rem + 0.22535211267605623vw,
    1.15rem
  );
  color: var(--cl-dark-purple);
  cursor: pointer;
  transition: color 200ms ease-in-out;
  &:hover {
    color: var(--cl-bright-purple);
  }
}

.accordion {
  position: relative;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  & .accordion-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: calc(1.5rem - 1px);
  }
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 300ms ease-in-out, margin-bottom 300ms ease-in-out;
  & p {
    line-height: 1.5;
    font-size: clamp(0.8rem, 0.7295774647887324rem + 0.300469483568075vw, 1rem);
    text-align: left;
    color: var(--cl-light-purple);
  }
}

.hidden {
  display: none;
}

.show {
  max-height: 300px;
  margin-bottom: calc(1.5rem - 1px);
}

.attribution {
  width: fit-content;
  padding: 1rem 4rem;
  /* position: fixed;
  bottom: 0; */
  align-self: center;
  justify-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  & p {
    text-align: center;
    font-size: clamp(
      0.7rem,
      0.5943661971830986rem + 0.4507042253521127vw,
      1rem
    );
    & a {
      color: hsl(228, 45%, 44%);
      transition: color 200ms ease-in-out;
    }
    & a:hover {
      color: var(--cl-light-purple);
    }
  }
}
