@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
  --cl-dark-gray-blue: hsl(217, 19%, 35%);
  --cl-dark-blue: hsl(214, 17%, 51%);
  --cl-blue: hsl(212, 23%, 69%);
  --cl-light-blue: hsl(210, 46%, 95%);
  --cl-shadow: hsla(214, 17%, 51%, 0.205);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

body {
  width: 100vw;
  height: 100vh;
  height: 100svh;
  background-color: var(--cl-light-blue);
  font-family: 'Manrope', sans-serif;
  display: grid;
  place-items: center;
}

.container {
  width: 60%;
  min-height: 40%;
  background-color: #fff;
  display: flex;
  border-radius: 10px;
  box-shadow: 0 10px 35px 10px var(--cl-shadow);
  /* overflow-y: clip; */
}

.image {
  width: 40%;
  height: auto;
  background-color: #fff;
  background-image: url(images/drawers.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px 0 0 10px;
}

.content {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.wrapper-text {
  height: 75%;
  padding: 6% 8%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

h1 {
  font-size: 1.5rem;
  color: var(--cl-dark-gray-blue);
}

p {
  text-wrap: pretty;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  color: var(--cl-blue);
}

.wrapper-contact {
  position: relative;
  height: 25%;
  padding-inline: 8%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 3%;
  .avatar {
    width: 3rem;
    aspect-ratio: 1/1;
    border-radius: 100vw;
  }
}

.contact-info > * {
  font-size: 1rem;
  padding-inline: 2%;
}

.icon-share-wrapper {
  background-color: var(--cl-light-blue);
  width: 2.25rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
}

.icon-share-wrapper:hover,
.icon-share-wrapper:focus {
  background-color: var(--cl-dark-gray-blue);
  .icon-share {
    filter: brightness(0) saturate(100%) invert(95%) sepia(2%) saturate(2660%)
      hue-rotate(188deg) brightness(103%) contrast(94%);
  }
}

.share-wrapper {
  width: 50%;
  position: absolute;
  top: -70%;
  right: -13.5%;
  background-color: var(--cl-dark-gray-blue);
  box-shadow: 0 10px 35px 10px var(--cl-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  padding: 1.25rem 3.5rem;
  border-radius: 10px;
  font-size: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  animation: slide-up 300ms ease-in-out forwards;
}

.share-wrapper::before {
  content: '';
  position: absolute;
  background-color: var(--cl-dark-gray-blue);
  width: 10%;
  aspect-ratio: 1/1;
  top: 75%;
  transform: rotate(45deg);
}

.share-wrapper-mobile {
  display: none;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  50% {
    opacity: 1;
    transform: translateY(-15%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.hidden {
  /* display: none; */
  animation: slide-down 300ms ease-in-out forwards;
}

@keyframes slide-down {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }

  50% {
    opacity: 1;
    transform: translateY(-15%);
  }

  100% {
    opacity: 0;
    transform: translateY(50%);
    display: none;
  }
}

.attribution {
  width: 100%;
  position: fixed;
  bottom: 3%;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (width < 1000px) {
  .container {
    flex-direction: column;
    align-items: center;
    width: 85%;
    height: 75%;
  }

  .image {
    height: 40%;
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  .content {
    width: 100%;
    height: 60%;
    justify-content: space-evenly;
  }

  .wrapper-text {
    height: 75%;
    padding-inline: 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  h1 {
    font-size: 1.1rem;
  }

  p,
  .contact-info > * {
    font-size: 0.875rem;
  }

  .avatar {
    width: 3rem;
    aspect-ratio: 1/1;
    border-radius: 100vw;
  }

  .share-wrapper {
    display: none;
  }

  .share-wrapper-mobile {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    right: 0%;
    background-color: var(--cl-dark-gray-blue);
    box-shadow: 0 10px 35px 10px var(--cl-shadow);
    display: grid;
    grid-template-columns: 1fr auto;
    place-items: center;
    gap: 15%;
    padding: 1.25rem 8%;
    border-radius: 0 0 10px 10px;
    font-size: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    transition: opacity 300ms ease-in-out;
  }

  .share-wrapper::before {
    width: 0;
  }

  .share-wrapper-mobile-media {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
  }

  .icon-share-wrapper {
    background-color: var(--cl-light-blue);
    width: 2.25rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 200ms ease-in-out;
  }

  .absent {
    opacity: 0;
  }

  .attribution {
    font-size: 8px;
  }
}
