@charset "UTF-8";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

body {
  width: 100vw;
  height: 100vh;
  height: 100svh;
  display: grid;
  place-items: center;
}

.container {
  border: 1px solid red;
  max-width: 60%;
  height: 30%;
  display: flex;
  border-radius: 10px;
}

.image {
  width: 35%;
  background-image: url(images/drawers.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  width: 65%;
  padding: 2rem;
}

.attribution {
  border: 1px solid red;
  width: 100%;
  position: fixed;
  bottom: 5%;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
